{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>{{template "title" .}}Title</title>
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="/static/js/m.js" defer="defer"></script>

    </head>
    <body>

    <main>
        {{template "footer" .}}
    </main>
    {{/*{{template "footer"}}*/}}
    </body>
    </html>
{{end}}