{{define "footer"}}
    <nav class="nav-extended N/A transparent">
        <div class="nav-wrapper">
            <a href="#" class="logo"><img src="/static/img/logo.png" alt=""></a>
            <ul class="right mobile">
                <a class="slt">Get Started</a>
            </ul>
        </div>
    </nav>
    {{/*    <footer>Copyright 2021<a href="/">Home </a> </footer>*/}}
{{end}}