{{template "base"}}

{{define "title"}} Parced form{{end}}

<div class="blue-overlay">
    <div class="text-content">
        <h2>Medium is a place to write, read and connect</h2>
        <p>It's easy and free to post your thinking on any topic and connect with millions of readers</p>
        <a class="hbtn" href="#">Start Writing</a>
    </div>
    <div class="img-blue">
        <img src="/static/img/letter.png" alt="">
    </div>
</div>

<!---Index modal-->
<div class="modal-bg">
    <div class="moda">
        <span class="modal-close">X</span>
        <h3 class="title" style="color: black;">Join Medium</h3>
        <div class="modaBox">
            <form class="formBox" method="post" action="/register">
                <div class="input-field">
                    <input type="text" id="first_name" name="firstname" class="validate" required>
                    <label for="first_name">First Name</label>
                </div>

                <div class="input-field">
                    <input type="text" id="last_name" name="lastname" class="validate" required>
                    <label for="last_name">Last Name</label>
                </div>

                <div class="input-field">
                    <input type="email" id="email" name="email" class="validate" required>
                    <label for="email">Email</label>
                </div>

                <div class="input-field">
                    <input type="password" id="Password" class="validate" required>
                    <label for="Password">Password</label>
                </div>

                <div class="input-field">
                    <input type="password" id="Confirm" name="Confirm" class="validate" required>
                    <label for="Confirm">Confirm Password</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
        <p class="ptag">Already have an account? <a href="/login"> Sign in</a></p>
    </div>

</div>
