{{template "base"}}

{{define "title"}} Parced form{{end}}

<div class="blue-overlay">
    <div class="text-content">
        <h2>Medium is a place to write, read and connect</h2>
        <p>It's easy and free to post your thinking on any topic and connect with millions of readers</p>
        <a class="hbtn" href="#">Start Writing</a>
    </div>
    <div class="img-blue">
        <img src="letter.png" alt="">
    </div>

</div>

<!---Login modal-->
<div class="modal-bg2">
    <div class="moda">
        <span class="modal-close">X</span>
        <h3 class="title" style="color: black;">Login to Medium</h3>
        <div class="modaBox">

        </div>
    </div>

</div>