{{template "base"}}

{{define "title"}} Parced form{{end}}

<div class="blue-overlay">
    <div class="text-content">
        <h2>Medium is a place to write, read and connect</h2>
        <p>It's easy and free to post your thinking on any topic and connect with millions of readers</p>
        <a class="hbtn" href="#">Start Writing</a>
    </div>
    <div class="img-blue">
        <img src="letter.png" alt="">
    </div>

</div>

<!---Index modal-->
<div class="modal-bg">
    <div class="moda">
        <span class="modal-close">X</span>
        <h3 class="title" style="color: black;">Join Medium</h3>
        <div class="modaBox">
            <form class="formBox" action="">
                <div class="input-field">
                    <input type="text" id="first_name" name="firstname" class="validate">
                    <label for="first_name">First Name</label>
                </div>

                <div class="input-field">
                    <input type="text" id="last_name" name="lastname" class="validate">
                    <label for="last_name">Last Name</label>
                </div>

                <div class="input-field">
                    <input type="text" id="email" name="email" class="validate">
                    <label for="email">Email</label>
                </div>

                <div class="input-field">
                    <input type="text" id="Password" class="validate">
                    <label for="Password">Password</label>
                </div>

                <div class="input-field">
                    <input type="text" id="Confirm" name="Confirm" class="validate">
                    <label for="Confirm">Confirm Password</label>
                </div>
            </form>
        </div>
    </div>

</div>